<tr>
  <td>
    <div class="order-id">
      <%= link @order.id, to: order_path(@conn, :show, @order.id) %>
    </div>
  </td>
  <td>
    <div class="order-status">
      <%= @order.status %>    
    </div>
  </td>
  <td>
    <div class="order-items">
      <%= Enum.map(@order.line_items, fn item -> item.product_name end) |> Enum.join(", ") %>
    </div>
  </td>
  <td class="text-right">
    <div class="order-total">
      <%= @order.total %>
    </div>
  </td>
</tr>
