<h1 class="page-title">Order History</h1>
<div class="col-md-8">
  <table class="table order">
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Customer ID</th>
        <th>Products Ordered</th>
        <th class="text-right">Total</th>
      </tr>
    </thead>
    <tbody>
      <%= for order <- @orders do %>
        <%= render MangoWeb.Admin.OrderView, "order_card.html", conn: @conn, order: order %>
      <% end %>
    </tbody>
  </table>
</div>